html {
    background-color: rgb(210, 240, 255);
}

.meal-name {
    border-style: solid;
    border-width: 5px;
    border-radius: 10px;
    border-color: red;

}

.menu-item {
    background-color: #bde4ba;
    border-width: 5px;
    border-style: solid;
    border-color: #728f4d;
    border-radius: 10px;
    color: #000000;
    margin: 8px;
    padding: 8px;
    font-size: large;
}
.extras {
    background-color: #ffeebf;
    border-width: 4px;
    border-style: solid;
    border-color: #f9c344;
    border-radius: 5px;
    color: #000000;
    display: inline-block;
    margin: 8px;
    padding: 8px;
}