html {
    background-color: rgb(255, 195, 198);
}

.extras {
list-style-type: none;

}

.extra {
display: inline-block;
border: 2px solid black;
border-radius: 15px;
padding: 5px;

}
.meal-name {
    font-size: 30px;
}

.meal {
    border: 2px solid black;
    border-radius: 25px;
    padding: 20px;
    margin: 10px;
    background-color: rgb(170, 216, 254);
    list-style-type: none;

}

.option {
    border:2px solid black;
    border-radius: 20px;
    list-style-type: none;
    padding: 20px;
    margin: 10px;
    background-color: rgb(255, 249, 206);
}